:root{
    --color-primary:#46a2fd;
    --bg-color: #e5e5e6;    
}

.cont-contac{
    width: fit-content;
    margin: auto;
}

.cont-contac h1{
    margin-left: 35%;
}

.cont-contac input{
    border: none;
    border-radius: .3em;
    padding: .6em;
    margin: 1em;
}

.cont-contac textarea{
    margin-left: 1em;
    border: none;
    opacity: .8;
    text-indent: .6em;
    border-radius: .3em;
    width: 95%;
}

.cont-contac .botones{
    width: 10em;
    border: none;
    border-radius: 0.3vh;
    background-color: var(--color-primary);
    color: var(--bg-color);
}

.cont-contac .botones:hover{
    transition: 0.3s;
    opacity: 0.8;
    background-color: var(--bg-color);
    color: var(--color-primary);
}