:root{
    --colorPrincipal: #eff3f2;
    --colorSecundario: #362f2f;
    --colorTerciario: #144357;
    --bgTarjeta: #64cab4;
    --colorTextoClaro: #FFFFFF;
    --bg-Btn-Principal: #006042;
    --fuente-fino: 300;
    --fuente-medio: 600;
    --fuente-grueso: 800;
}

main{
  width: 80%;
  margin: auto;
}

.container-main{
  width: 60em;
  margin: auto;
}

/* Texto */

main .texto{
  text-align: center;
}

#bienvenida h3{
  width: 15em;
  margin: auto;
}

#servicios h3{
  width: 25em;
  margin: auto;
}

.gradiente-txt{
  background-image: linear-gradient(45deg, #E13535, #A4B446);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  }

#presentacion{
    color: var(--colorPrincipal);
    margin: auto;
}

    #presentacion::before{
        content: "¡Manos a la obra!";
        position: absolute;
        top: 0;
        left: 45%;
        transform: translateX(-50%);
        transform: translateY(30%);
        font-size: 5rem;
        font-weight: 400;
        line-height: 20rem;
        color: #485783;
        opacity: 0.2;
        z-index: -100;
        }

    .texto h1{
      background-image: linear-gradient(45deg, #E13535, #A4B446);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 800;
    }

    .texto h3{
        color: var(--colorTextoClaro);   
    }

    .container-main #img-index{
        display: grid;
        margin: auto;
    }

#servicios .texto{
    margin-top: 11em;
    text-align: center;
    color: var(--colorPrincipal);
}

    #servicios .texto h2{
        width: 30em;
        margin: auto;
    }

.tarjetas{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
}

  .tarjetas .tarjeta img{
    width: 6em;
    margin-top: 2em;  
  }

    .tarjetas .tarjeta{
        border-radius: .6em;
        width: 16em;
        margin: auto;
        color: var(--colorPrincipal);
        text-align: center;
    }
  
    .tarjetas button{
      background-color: var(--bg-Btn-Principal);
      color: var(--colorTextoClaro);
      font-weight: var(--fuente-medio);
      padding-inline: 1em;
      padding-block: .6em;
      border-radius: 1.5em;
      border: none;
      text-decoration: none;
      width: 8em;
        
    }

    .tarjetas button:hover{
        transition: .4s;
        background-color: var(--colorTerciario);
    }

      /* Responsive */
@media only screen and (max-width: 1040px){
    .container-main{
      max-width: 90%;
    }

    #servicios h3{
      width: 90%;
    }
  }

    .tarjetas{
        justify-content: center;
    }

@media (max-width: 450px){

  main{
    width: 100%;
    margin: auto;
    text-align: center;
  }
  
  .container-main{
    width: 90%;
    margin: auto;
  }

  #servicios h3{
    width: 100%;
    margin: auto;
  }

  .tarjetas{
    display: block;
  }
  .tarjetas .tarjeta{
    padding-bottom: 3em;
    width: fit-content;
  }
  
  .tarjetas .tarjeta img{
    margin-top: 0;
  }
}

@media (max-width: 350px){
  #bienvenida h3{
    width: 90%;
  }
}