:root{
  --colorPrincipal: #eff3f2;
  --colorSecundario: #362f2f;
  --colorTerciario: #144357;
  --bgTarjeta: #19173d;
  --colorTextoClaro: #FFFFFF;
  --colorTexto-Opaco: #ffffff8c;
  --colorTextoAmarillo: #FFBF43;
  --bg-Btn-Principal: #006042;
  --bg-Btn-Secundario: #E0A023;
  --fuente-fino: 300;
  --fuente-medio: 600;
  --fuente-grueso: 800;
}

main{
  width: 80%;
  margin: auto;
  overflow: hidden;
  transition: .3s;
}

.container-main{
  width: 60em;
  margin: auto;
}

h1{
  color: var(--colorTextoAmarillo);
  font-weight: var(--fuente-medio);
  text-align: center;
}

/* NAVBAR */

#publicar{
  color: var(--colorTextoAmarillo);
}

/* TARJETAS */

.tarjetas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tarjeta{
  align-content: center;
  text-align: center;
  background-color: var(--bgTarjeta);
  border-radius: .9em;
  padding-block: 4vh;
  width: 347px;
  height: 290px;
  margin: auto;
  margin-bottom: 2em;
  box-shadow: .1em .2em .8em rgba(0, 0, 0, 0.411);
  padding-inline: .5em;
}
  .tarjeta #btn{
    background-color: var(--bg-Btn-Principal);
    color: var(--colorPrincipal);
    font-weight: var(--fuente-medio);
    padding-inline: 3em;
    padding-block: .8em;
    border-radius: 1.4em;
    text-decoration: none;
  }
  
    .tarjeta #btn:hover, .tarjeta:hover, #otros:hover{
      box-shadow: .2em .2em .6em rgba(0, 0, 0, 0.411);
      transition: .3s;
      scale: .99;
    }

  .tarjeta span{
    color: var(--colorTextoClaro);
    font-weight: var(--fuente-medio);
    font-size: 24px;
    letter-spacing: 1px;
  }

  .tarjeta p{
    margin-top: 1em;
    color: var(--colorTexto-Opaco);
    font-weight: var(--fuente-medio);
    letter-spacing: 1px;
  }

  .tarjeta #otros{
    background-color: var(--bg-Btn-Secundario);
    color: var(--colorSecundario);
    font-weight: var(--fuente-grueso);
    padding-inline: 3em;
    padding-block: .8em;
    border-radius: 1.4em;
    text-decoration: none;
  }


@media (max-width: 921px){
  main{
    width: 100%;
  }
}