:root{
    --colorPrincipal: #eff3f2;
    --colorSecundario: #362f2f;
    --colorTerciario: #144357;
    --colorTextoClaro: #FFFFFF;
    --colorTextoOpaco: #e0dedebe;
    --colorInputBg: #79767677;
    --bg-Btn-Principal: #006042;
    --fuente-fino: 300;
    --fuente-medio: 600;
    --fuente-grueso: 800;
}

.registro{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: var(--colorPrincipal);
    width: 20em;
    text-align: center;
    margin: auto;
}

    .registro h5{
        width: 90%;
        margin: auto;
    }

    form{
        padding: 2em;
        margin: auto;
        color: var(--colorPrincipal);
        width: 100%;
    }

    form h2{
        letter-spacing: .1em;
        text-align: center;
        margin-bottom: .5em;
    }

    form input{
        border: none;
        width: 100%;
        border-radius: .3em;
        padding: .4em .6em;
        margin-bottom: 1em;
        font-weight: var(--fuente-medio);
    }

    form p{
        opacity: .6;
    }

    form button{
        background: transparent;
        color: var(--colorPrincipal);
        width: 100%;
        border: .15em solid;
        border-radius: .2em;
        padding: .3em;
    }

    /* MODBILE */

@media (max-width: 1000px) {
    .registro{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .registro h5{
        padding: 2em;
    }
}