@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --colorPrincipal: #eff3f2;
    --colorSecundario: #362f2f;
    --colorTerciario: #144357;
    --colorNav: #0e171bc5;
    --colorTextoClaro: #FFFFFF;
    --colorTextoOpaco: #e0dedebe;
    --colorInputBg: #79767677;
    --bg-Btn-Principal: #006042;
    --fuente-fino: 300;
    --fuente-medio: 600;
    --fuente-grueso: 800;

}

html{
    scroll-behavior: smooth;
}

/* Importación de la fuente */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* .manrope-titulo {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
} 
  
.manrope-subtitulo {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.manrope-body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

*{
    font-family: "Manrope", sans-serif;
}

body{
    background: linear-gradient(to right, #132126, #0E0810);
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 150px #185469;
    z-index: -100;
}

nav {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
    nav a {
        text-decoration: none;
        margin: 1em;
        font-weight: var(--fuente-medio);
    }

    nav h3 {
        margin-top: .7em;
    }

    nav ul {
        list-style: none;
        display: inline-flex;
    }

    nav ul li {
        text-align: center;
        margin-inline: 1em;
        margin-top: 2em;
    }

    nav ul li a {
        text-decoration: none;
        color: var(--colorPrincipal);
        letter-spacing: .1em;
    }

    #loginBtn {
        background-color: var(--bg-Btn-Principal);
        color: var(--colorTextoClaro);
        font-weight: 600;
        padding-inline: 1em;
        padding-block: .8em;
        border-radius: 1.4em;
        text-decoration: none;
    }

    #loginBtn:hover {
        color: var(--colorTextoClaro);
        background-color: var(--colorTerciario);
        transition: .4s;
    }

    .animated-underline {
        position: relative;
        text-decoration: none;
    }

    .animated-underline::after {
        content: "";
        font-size: 1em;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -.3em;
        height: .12em;
        background-color: var(--colorPrincipal);
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .animated-underline:hover::after {
        transform: scaleX(1);
    }

.textoGradiente {
    background-image: linear-gradient(45deg, #ece551, #f80dec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
    
/* Footer Section */

footer{
   color: var(--colorTextoOpaco);
   letter-spacing: .1em;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

    footer #izquierda img{
        width: 5vh;
        margin-right: .3em;
    }

footer #derecha{
    text-align: right;
}

    footer #derecha a{
        text-decoration: none;
    }

footer #medio{
    margin: auto;
}

    footer #medio input{
        background-color: var(--colorInputBg);
        border: none;
        border-radius: .2em;
        margin-bottom: .5em;
        width: 100%;
        padding-block: .6em;
        padding-inline: 1em;
        color: var(--colorTextoOpaco);
        font-weight: var(--fuente-medio);
    }

    footer #medio textarea{
        background-color: var(--colorInputBg);
        border: none;
        border-radius: .2em;
        font-weight: var(--fuente-medio);
        width: 100%;
        padding-inline: 1em;
        color: var(--colorTextoOpaco);
        resize: none;
        overflow: hidden;
    }

    footer #medio [type="submit"]{
        background-color: var(--bg-Btn-Principal);
    }

    footer #medio [type="submit"]:hover{
        background-color: var(--colorTerciario);
        transition: .4s;
    }

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 2vh;
}

/* SCROLLBAR */

@media (width < 1210px){
    footer{
        display: grid;
    }
}

@media only screen and (max-width: 1070px){
    nav{
        width: 100%;
    }

    main{
        width: 100%;
    }

    .container-main{
        width: fit-content;
        margin: auto;
    }

    footer{
        width: 90%;
        margin: auto;
    }

    footer #izquierda{
        text-align: center;
    }

}

@media (width < 920px){
    footer{
       grid-template-columns: 1fr 17em;
       text-align: left;
    }

    footer #izquierda{
        grid-column: 1 / -1;
    }

    footer #derecha{
        text-align: left;
    }
}

@media only screen and (min-width: 921px) {
    .hamburger {
        display: none;
    }
}

@media only screen and (max-width: 920px) {

    .navbar {
        position: relative;
        width: 100%;
    }

    .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        margin: .4em;
        background: none;
        border: none;
        cursor: pointer;
        padding: 1em;
        z-index: 1000;
    }

    .navbar.active{
        height: 100%;
        background-color: var(--colorNav);
        transition: .3s;
    }

    .bar {
        width: 1.8em;
        height: .2em;
        background-color: var(--colorPrincipal);
        margin: .3em auto;
        transition: .3s;
    }

    .navbar.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-items {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: transparent;
        box-shadow: 0 .1em .3em rgba(0, 0, 0, 0.1);
        z-index: 999;
        height: 100%;
        width: 100%;
    }

    .navbar.active .hamburger {
        display: block;
    }

    .navbar.active .nav-items {
        display: block;
    }

    .nav-items ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(1, fr);
        background-color: var(--colorNav);
        padding: 0;
        margin: 0;
    }

    .nav-items ul li {
        margin-top: 1em;
        width: fit-content;
        margin: auto;
    }

    .nav-items ul li a {
        display: block;
        text-decoration: none;
        color: var(--colorPrincipal);
        padding: 5px 20px;
    }
}

@media (width < 760px){
    footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    footer #izquierda, #medio{
        text-align: center;
    }

    footer #izquierda{
        text-align: center;
        width: 100%;
    }

    footer #derecha{
        text-align: center;
    }
}