:root{
    --colorPrincipal: #eff3f2;
    --colorSecundario: #362f2f;
    --colorTerciario: #144357;
    --colorNav: #0e171bc5;
    --color-Buscador: #9999997a;
    --colorTextoClaro: #FFFFFF;
    --colorTextoOpaco: #e0dedebe;
    --colorTextoAmarillo: #FFBF43;
    --colorTextoVerde: #11AE34;
    --colorInputBg: #79767677;
    --bg-Btn-Principal: #006042;
    --bg-publicacion: #083f2e8a;
    --fuente-fino: 300;
    --fuente-medio: 600;
    --fuente-grueso: 800;
}

main{
    width: 80%;
    margin: auto;
  }

.containerFormulario{
    width: 36em;
    height: auto;
    padding: 2em;
    display: block;
    justify-content: space-around;
    border-radius: .3em;
    background-color: var(--bg-publicacion);
    color: var(--colorPrincipal);
    box-shadow: 0em .2em 1.5em  .1em #062c2371;
    margin: auto;
}

    .containerFormulario input::placeholder{
        color: var(--colorTextoOpaco);
    }

    .containerFormulario h3{
        letter-spacing: 1px;
        padding: .3em;
        font-weight: var(--fuente-medio);
    }

    .containerFormulario input[type='text']{
        border: none;
        outline: none;
        margin-bottom: 1em;
        border-radius: .2em;
        background-color: var(--color-Buscador);
        color: var(--colorTextoOpaco);
    }

    .containerFormulario textarea{
        width: 60%;
        resize: none;
        height: 8em;
        overflow: hidden;
        font-family: 'Arial', sans-serif;
        border: none;
        outline: none;
        border-radius: .2em;
        margin-bottom: 1em;
        background-color: var(--color-Buscador);
        color: var(--colorTextoOpaco);
    }

    .containerFormulario textarea::placeholder{
        color: var(--colorTextoOpaco);
    }

    .containerFormulario select{
        border: none;
        border-radius: .2em;
        padding: .2em .3em;
        margin-bottom: 1em;
        background-color: var(--color-Buscador);
        color: var(--colorTextoOpaco);
    }

    .containerFormulario select option{
        color: var(--colorTextoOpaco);
        background-color: var(--colorNav);
    }

    .containerFormulario input[type='file']{
        border: none;
        border-radius: .2em;   
        background-color: var(--color-Buscador);
        color: var(--colorTextoOpaco);
    }

    .containerFormulario input[type='file']:hover{
        cursor: pointer;
        background-color: var(--color-Buscador);
        color: var(--colorTextoOpaco);
    }

    .containerFormulario .btns{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .containerFormulario .btns input{
        width: 80%;
        margin: auto;
        border: .15em solid var(--colorPrincipal);
        color: #eff3f2;
        border-radius: .2em;
        padding: .3em .4em;
        background-color: #0000;
        outline: none;
    }

    .containerFormulario .btns input:hover{
        border-color: var(--colorSecundario);
        background-color: #213e4b;
        color: #03d6a1;
        transition: .4s;
    }
        

@media (max-width: 921px){
        main{
          width: 100%;
        }
      }

@media (max-width: 620px){
    .containerFormulario{
        width: 90%;
    }
}