:root{
    --colorPrincipal: #eff3f2;
    --colorSecundario: #362f2f;
    --colorTerciario: #144357;
    --colorNav: #0e171bc5;
    --color-Buscador: #9999997a;
    --colorTextoClaro: #FFFFFF;
    --colorTextoOpaco: #e0dedebe;
    --colorTextoAmarillo: #FFBF43;
    --colorTextoVerde: #11AE34;
    --colorInputBg: #79767677;
    --bg-Btn-Principal: #006042;
    --bg-publicacion: #083f2e8a;
    --fuente-fino: 300;
    --fuente-medio: 600;
    --fuente-grueso: 800;
}

main{
    width: 80%;
    margin: auto;
    overflow: hidden;
    transition: .3s;
  }  

.titulo-buscador{
    display: flex;
    flex-wrap: wrap;
    padding-left: 1em;
}

select{
    background-color: var(--color-Buscador);
    color: var(--colorTextoOpaco);
    border: none;
    padding: .2em;
    border-radius: .2em;
    margin-left: 1em;
    font-weight: var(--fuente-medio);
}

select option{
    background-color: var(--colorNav);
}

h1{
    color: var(--colorTextoAmarillo);
    font-weight: var(--fuente-medio);
    padding-right: 1em;
  }
  
.buscador{
    display: flex;
    justify-content: space-around;
    width: 21em;
    border-radius: .3em;
    background-color: var(--color-Buscador);
    /* box-shadow: 0em .2em 1.5em .1em var(--colorNav); */
}

    .buscador input[type="text"]{
        outline: none;
        border: none;
        background-color: #0000;
        color: var(--colorPrincipal);
        opacity: .8;
        border-radius: .2em;
        width: 100%;
        padding: .4em;
    }

    .buscador input[type="text"]::placeholder{
      color: var(--colorTextoOpaco);
      font-weight: var(--fuente-medio);
    }

    .buscador button{
        padding: .4em;
        background: none;
        border: none;
    }

    .buscador button img{
        width: 2.5em;
        padding-left: .3em;
        filter: brightness(75%);
    }
    

    /* PUBLICACIONES */

.publicaciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.publicacion{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-publicacion);
    color: var(--colorTexto);
    font-size: var(--fuente-peque);
    font-weight: var(--fuente-medio);
    overflow: hidden;
    transition: .3s;
    margin: 1em;
    border-radius: .5em;
    box-shadow: 0em .2em 1.5em .1em var(--colorNav);
    width: 18em;
    height: 33em;
}

    .publicacion img{
        object-fit: cover;
        width: 100%;
    }

    .publicacion button{
        background: none;
        border: none;
        background-color: var(--colorInputBg);
        color: var(--colorTextoOpaco);
        font-weight: var(--fuente-medio);
        width: fit-content;
        border-radius: .3vh;
        margin: 1vh;
        padding-inline: 1.2vh;
    }

    .texto-publicacion{
        width: 90%;
        color: var(--colorPrincipal);
        margin: inherit;
    }

        .texto-publicacion h3{
            font-weight: var(--fuente-medio);
            letter-spacing: .1vh;
        }

        .texto-publicacion p{
            opacity: .7;
            letter-spacing: .1vh;
            font-weight: var(--fuente-fino);
        }

    .publicacion h5{
        color: var(--colorTextoVerde); 
        font-size: medium;
        letter-spacing: 1px;
    }

    .publicacion #btn{
        background-color: var(--bg-Btn-Principal);
        color: var(--colorPrincipal);
        font-weight: var(--fuente-medio);
        padding-inline: 2.5em;
        padding-block: .6em;
        border-radius: 2em;
        margin: auto;
        text-decoration: none;
        width: fit-content;
        letter-spacing: 1px;
      }
   
@media (max-width: 921px){
    main{
      width: 100%;
    }
  }